html, body {
  height: 100%;
  margin: 0;
  font-family: "poppins", sans-serif;
  background-color: whitesmoke;
  color: #303c4e;
}
a,
.area {
  transition: all 0.3 ease;
}
header {
  background-color: #303c4e;
  padding: 0 10% 0 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  
  width: 100%;
  z-index: 1000;
  box-sizing: border-box;
  height: 80px;
 
}
.header-img {
  width: 170px;
  height: 67x;
  object-fit: contain;
  vertical-align: middle;
}

header h1 {
  color: #5ce1e6;
  margin: 0;
}
header h4 {
  color: #5ce1e6;
  display: flex;
  justify-content: end;
  margin: 0;
}

 nav{
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: row;
   gap: 22px;
 }
nav a {
  color: white;
  margin-left: 15px;
  text-decoration: none;
}
nav a:hover {
  text-decoration: underline;
  opacity: 0.9;
}

nav button{
  width: 80px;
  height: 43px ;
  background-color:   #358e91;
  color: white;
  text-align: center;
  border-radius: 10px;
  border: none;
  font-size: 17px;
  cursor: pointer;
  transition: transform 0.4s cubic-bezier(0.25, 0.8, 0.25, 1), 
  box-shadow 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  transform-style: preserve-3d;
  will-change: transform;

}
nav button:hover{
  text-decoration: underline;
  transform: perspective(600px) translateZ(25px)  scale(1.15);
 box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
.principal {
  position: relative;
  text-align: center;
  padding: 80px 20px;
  background-color: white;
  color: #303c4e;
  overflow: hidden;
  margin-top: 50px;
}
.principal::before,
.principal::after {
  content: "";
  position: absolute;
  top: 50%;
  bottom: 0;
  width: 250px;
  height: 100%;
  transform: translateY(-50%);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 0;
}
/**.principal::before{
   left: 15%;
   background-image: url("https://img.freepik.com/fotos-premium/mulher-jovem-usando-oculos-de-sol-de-pe-contra-fundo-branco_1048944-1987308.jpg?semt=ais_hybrid&w=740");
}*/
.principal::after {
  right: 15%;
  background-image: url("");
}
.principal > * {
  position: relative;
  z-index: 1;
}

.pesquisa {
  margin: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
}
.descobrir {
  display: flex;
  position: relative;
  width: 100%;
  max-width: 700px;
}
.descobrir i {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  color: #aaa;
  font-size: 1.1em;
  transition: color 0.3s ease, transform 0.3s ease;
}

.descobrir input {
  padding: 12px 20px 12px 40px;
  border-radius: 999px;
  border: none;
  outline: none;
  width: 100%;
  font-size: 1em;
  background-color: #303c4e;
  color: white;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  transition: box-shadow 0.3s ease;
}
.descobrir input::placeholder {
  color: #aaa;
}
.descobrir input:focus {
  box-shadow: 0 0 10px #5ce1e6;
}

.icone {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  font-size: 1.2em;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #5ce1e6;
  cursor: pointer;
}
.icone i {
  display: inline-block;
  color: #5ce1e6;
  font-size: 1.2em;
}
.icone i {
  color: #5ce1e6;
  transform: translateY(-50%) scale(1.2);
}
.icone:hover {
  color: white;
  transform: translateY(-50%) scale(1.1);
  transition: all 0.2s ease;
}

.categorias {
  padding: 40px 20px;
  text-align: center;
}
.areas {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 20px;
}
.area {
  background-color: #47949f;
  border: 1px solid;
  padding: 0;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  font-size: 1.1em;
  cursor: pointer;
  text-align: center;
  width: 180px;
  transition: all 0.3s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  color: #ccc;
}
.area:hover {
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.17);
  transform: translateY(-5px);
}
.area i {
  font-size: 2em;
  color: #303c4e;
  margin-bottom: 10px;
  display: block;
}
.area span {
  font-weight: 600;
  color: white;
  display: block;
  padding: 20px 10px;
}
.a_img {
  width: 100%;
  height: 100px;
  object-fit: cover;
  margin-bottom: 10px;
  display: block;
}
.sug {
  margin-top: auto;
  margin-bottom: 10px;
}
.sug_f {
  background-color: #303c4e;
}
.sug_pres {
  margin-top: 2px;
  background-color: #5ce1e6;
}
.seguri {
   background: linear-gradient(135deg,#303c4e,#0c1524);
  padding: 20px;
  justify-content: center;
  display: flex;
}
.s_tudo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1000px;
  width: 100%;
}
.s_img {
  justify-content: center;
  display: flex;
  flex: 0 1 47%;
}
.s_img img {
  width: 100%;
  max-width: 500px;
  height: 300px;
}

.s_text {
  flex: 0 1 50%;
  max-width: 600px;
  color: white;
  padding-left: 0px;
}
.s_text p {
  color: #d3d3d3;
}
.revo {
  background-color: #f5f5f5;
  padding: 20px;
  justify-content: center;
  display: flex;
}
.r_img {
  justify-content: center;
  display: flex;
  flex: 0 1 47%;
}
.r_img img {
  width: 100%;
  max-width: 400px;
}

#h_revo {
  color: #303c4e;
}
#p_revo {
  color: #484d50;
}
.rede_social {
  display: flex;
  gap: 40px;
  bottom: -50px;
}
.icon-space {
  margin-right: 10px;
}
.toda_pagina {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  position: relative;
  z-index: 10;
}

footer {
  margin-top: auto;
  min-height: 200px;
  background-color: #0c1524;
  text-align: center;
  padding: 20px;
  font-size: 0.9em;
  color: white;
  align-items: center;
  justify-content: flex-end;
}
footer .rede_social {
  margin-bottom: 10px;
}
footer p {
  position: relative;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  font-size: 0.9em;
}
.rede_social_ico a i {
  transition: transform 0.3s ease, color 0.3s ease;
  color: #666;
}

.rede_social_ico a:hover i {
  transform: scale(1.2);
}

@media (max-width: 768px) {
  header {
    padding: 0 5% 0 5%;
  }
  nav {
    gap: 8px; 
  }
  nav a {
    margin: 10px 10px 0 10px;
    display: inline-block;
  }
  .job {
    padding: 40px 15px;
  }
  .areas {
    flex-direction: column;
    align-items: center;
    gap: 15px;
  }
  .area {
    width: 90%;
    max-width: 300px;
  }
  .butao {
    width: 100%;
    max-width: 250px;
  }
  .pes_img {
    width: 100px;
    flex-direction: row;
  }
  .woman_img {
    width: 100px;
    flex-direction: row;
  }
}
@keyframes planar {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}
