html {
   scroll-behavior: smooth;
}

body {
    margin: 0 ;
    padding-top: 80px;
    font-family: 'poppins', sans-serif;
    background:linear-gradient(135deg,#192435,#0C1524);
    color: white;
}

a, .butao, .area{
    margin: 0;
    transition: all 0.3 ease;
}

 header {
    background-color:#0C1524 ;
    color: white;
    top: 0;
    left: 0;
    height: 80px;
    padding: 0;
    width: 100%;
    display: flex;
    position: fixed;
    justify-content: center;
    align-items: center;
 }

 nav {
    width: 100%;
    padding: 0 10% 0 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
 }

 nav div {
   display: flex;
   gap: 16px;
 }

 nav a {
    color: white;
    text-decoration: none;
 }

 nav a:hover  {
    text-decoration: underline;
 }

 header h1 {
    /*color: #5ce1e6;*/
    margin: 0;
 }

 header h4 {
    color: #5ce1e6;
    display: flex;
    justify-content: end;
    margin: 0;
 }

 .header-img {
   width: 160px;
   height: 45px;
   padding: 0;
   margin: 0;
 }

.formulario {
   display: inline-block;
   background-color: #192435;
   color: white;
   padding: 12px;
   margin-top: 8px;
   text-decoration: none;
   border-radius: 8px;
   width: 100%;
   font-weight: bold;
   box-shadow: none;
   border-style: solid;
   border-color: white;
}

.botao {
   display: inline-block;
   margin-top: 20px;
   background-color: #5ce1e6;
   color: black;
   padding: 12px 24px;
   text-decoration: none;
   border-radius: 8px;
   font-weight: bold;
   box-shadow: none;
   border-style: unset;
}

.botao:hover{
   background-color:#47949F;
   transform: scale(1.05);
}

.visao_geral {
   text-align: center;
   font-size: 1.7em;
   padding: 20px;
   align-items: center;
}

.text {
   text-align: left;
   padding: 16px 20%;
   background-color: #192435;
}

.text h2 {
   font-size: 1.7em;
}

.text p{
   font-size: 16px;
}

.contato {
   padding: 16px 10%;
   text-align: start;
}
.contato p {
   text-align: start;
}

.rede_social{
   display: flex;
   gap: 40px;
}
.rede_social i {
   margin-right: 20px;
}
.icon-space{
   margin-right: 15px;
}
 
.categorias {
   padding: 40px 20px;
   text-align: center;
}

footer{
   background-color: #0C1524;
   text-align: center;
   padding: 20px;
   font-size: 0.9em;
   color:white
}


@media (max-width: 768px) {
   header {
      height: auto;
      padding: 8px 0;
   }

   nav {
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      padding: 0 5% 0 5%;
      gap: 8px;
   }

   nav a {
      display: inline-block;
   }

   .text {
      padding: 16px 10%;
   }

   .contato {
      padding: 16px 5%;
   }

   .job{ 
      padding:  40px 15px;
   }
   .areas {
      flex-direction: column;
      align-items: center;
      gap: 15px;
   }
   .area{
      width: 90%;
      max-width: 300px;
   }
   .butao{
      width: 100%;
      max-width: 250px;
   }
}